.main {
    background-image:url('https://i.stack.imgur.com/7YKUD.jpg');
    width: 100%;  
    height: 220px;
    background-size: cover;  
    border-radius: 5px;
    display: flex;
}

.headerText {
    text-align: center;
    width: 55%;
    height: 100%;
    margin: 30px 10px 10px 10px;
    font-size: 70px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;  
}

.headerLogo {
    text-align: right; 
    width: 45%;
    float: right;
    margin: 10px 10px 10px 10px;
}
.logo {
    max-width: 235px;
    text-align: center;
    background: white;
    height: 100%;
    border-radius: 100%;

}