
.footer {
  padding: 20px;
  width: 100%;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  font-weight: bold;
}

.footer img{    margin: 2px;
  background: white;
  padding: 20px;}